In [1]:
from PIL import Image
import numpy as np
import pandas as pd

df = pd.read_csv('../data/datos1_clean.csv')

In [2]:
df_copy = df.copy()

In [3]:
for i in df.ph_nombre:
    imagen = Image.open('../images/'+i)

    try:
        r, g, b = imagen.split()
        r_array = np.array(r)
        g_array = np.array(g)
        b_array = np.array(b)

        media_r = np.mean(r_array)
        media_g = np.mean(g_array)
        media_b = np.mean(b_array)
        if media_r > media_g and media_r > media_b:
            df.loc[df.ph_nombre == i, 'ph_R'] = 1
        elif media_g > media_r and media_g > media_b:
            df.loc[df.ph_nombre == i, 'ph_G'] = 1
        elif media_b > media_r and media_b > media_g:
            df.loc[df.ph_nombre == i, 'ph_B'] = 1
    except:
         df.loc[df.ph_nombre == i, 'ph_WB'] = 1

In [4]:
df.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,...,ph_hora,ph_hashtags,ph_persona,ph_naturaleza,ph_animal,ph_text,ph_R,ph_G,ph_B,ph_WB
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,20,NaN,0,0,0,0,0,0,1,0
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,20,NaN,0,1,0,0,0,0,1,0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,NaN,1,0,0,0,1,0,0,0
3,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,NaN,0,0,0,0,0,0,1,0
4,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,NaN,1,0,0,0,1,0,0,0

In [5]:
#vamos a mirar la correlacion de ph_likes con ph_R, ph_G, ph_B y ph_WB
df[['ph_likes', 'ph_R', 'ph_G', 'ph_B', 'ph_WB']].corr()

          ph_likes      ph_R      ph_G      ph_B     ph_WB
ph_likes  1.000000  0.028308  0.071686 -0.044614 -0.080186
ph_R      0.028308  1.000000 -0.495845 -0.685835 -0.164444
ph_G      0.071686 -0.495845  1.000000 -0.183777 -0.044065
ph_B     -0.044614 -0.685835 -0.183777  1.000000 -0.060949
ph_WB    -0.080186 -0.164444 -0.044065 -0.060949  1.000000

In [7]:
df.corr()['ph_likes']

pg_numero_de_publicaciones         NaN
pg_seguidores                      NaN
pg_seguidos                        NaN
ph_likes                      1.000000
ph_numerado                   0.096021
ph_hora                       0.030145
ph_persona                   -0.129751
ph_naturaleza                -0.064686
ph_animal                     0.033750
ph_text                       0.140569
ph_R                          0.028308
ph_G                          0.071686
ph_B                         -0.044614
ph_WB                        -0.080186
Name: ph_likes, dtype: float64

In [8]:
cont = 1
while cont <= 11:
    df = pd.read_csv(f'../data/datos{cont}_clean.csv')
    for i in df.ph_nombre:
        imagen = Image.open('../images/'+i)

        try:
            r, g, b = imagen.split()
            r_array = np.array(r)
            g_array = np.array(g)
            b_array = np.array(b)

            media_r = np.mean(r_array)
            media_g = np.mean(g_array)
            media_b = np.mean(b_array)
            if media_r > media_g and media_r > media_b:
                df.loc[df.ph_nombre == i, 'ph_R'] = 1
            elif media_g > media_r and media_g > media_b:
                df.loc[df.ph_nombre == i, 'ph_G'] = 1
            elif media_b > media_r and media_b > media_g:
                df.loc[df.ph_nombre == i, 'ph_B'] = 1
        except:
            df.loc[df.ph_nombre == i, 'ph_WB'] = 1
    df.to_csv(f'../data/datos{cont}_cleanRGB.csv', index=False)
    cont += 1