In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
import warnings
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests


with open("../con.txt", "r") as user:
    usuario = user.readline().strip()
    passw = user.readline().strip()

PATH = ChromeDriverManager().install() 
driver = webdriver.Chrome(PATH)
driver.get("https://www.instagram.com/natgeo/")
time.sleep(random.randint(4,6))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[2]/div/div/div/div/div[2]/div/button[1]')
elemento.click()

time.sleep(random.randint(3,5))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/nav/div[2]/div/div/div[3]/div/div[2]/div[1]/a/button')
elemento.click()

time.sleep(random.randint(3,5))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[1]/div/label/input')
elemento.send_keys(usuario)

time.sleep(random.randint(1,3))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[2]/div/label/input')
elemento.send_keys(passw)

time.sleep(random.randint(2,3))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[3]/button')
elemento.click()

time.sleep(random.randint(6,8))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div/div/div/button')
elemento.click()
#Este codigo termina con la pagina de natgeo abierta

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/2462680585.py:20: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [2]:
#Vamos a crear un dataframe con los datos que hemos obtenido


df = pd.DataFrame(columns=['pg_direccion', 'pg_nombre', 'pg_descripcion', 'pg_numero_de_publicaciones', 'pg_seguidores', 'pg_seguidos', 'ph_descripcion', 'ph_likes', 'ph_fecha', 'ph_url', 'ph_nombre', 'ph_atributos', 'ph_numerado'])

In [3]:
#cogemos la informacion de la pagina de natgeo
datos = driver.find_elements(By.CLASS_NAME, '_ac2a')
df = df.append({},ignore_index = True)
df.pg_numero_de_publicaciones = datos[0].text
df.pg_seguidores = datos[1].text
df.pg_seguidos = datos[2].text
datos[0].text, datos[1].text, datos[2].text

#el [0] es el numero de publiaciones
#el [1] es el numero de seguidores
#el [2] es el numero de seguidos

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/610857067.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/610857067.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)

('27.850', '266 M', '140')

In [4]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,NaN,NaN,NaN,27.850,266 M,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
datos2 = driver.find_elements(By.TAG_NAME, 'h2')
datos2[0].text
df.pg_direccion = datos2[0].text
#el numero [0] contiene el nombre de la cuenta

In [6]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,NaN,NaN,27.850,266 M,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
datos3 = driver.find_elements(By.CLASS_NAME, '_aa_c')
datos3[0].text
datos4 = []
#aqui esta guardado el nombre de la descripcion de la cuenta y la descripcion
#voy a separar datos3 en dos elementos, uno con el nombre de la cuenta y otro con la descripcion
datos4.append(datos3[0].text.split('\n',1)[0])
datos4.append(datos3[0].text.split('\n',1)[1])
datos4[0], datos4[1]

df.pg_nombre = datos4[0]
df.pg_descripcion = datos4[1]
#en datos 4[0] esta el nombre de la cuenta y en datos4[1] esta la descripcion

In [8]:
#time.sleep(random.randint(6,8))
#elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[4]/article/div[1]/div/div[1]/div[1]/a/div/div[2]')
#elemento.click()
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.850,266 M,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
datos5 = driver.find_elements(By.CLASS_NAME, 'x1iyjqo2')
datos5[1].text

'natgeo\nVerificado\nSiguiendo\nEnviar mensaje\n27.850 publicaciones\n266 M seguidores\n140 seguidos\nNational Geographic\nExperience the world through the eyes of National Geographic photographers.\non.natgeo.com/instagram\nanimalplanet, wildlife_photography_india, natgeowild y 17 más siguen esta cuenta\nStonehenge\nKing Tut\nBlack Joy\nOut of Eden\nBallesta\nArctic Life\nMars AR\nDino AR\nReimagined Dino\nHoneybees\nEnd of Trash\nChild Sacrifice\nPangolins\nWildlifeTourism\nPUBLICACIONES\nREELS\nETIQUETADAS\nMeta\nInformación\nBlog\nEmpleo\nAyuda\nAPI\nPrivacidad\nCondiciones\nCuentas destacadas\nUbicaciones\nInstagram Lite\nSubir contactos y personas no usuarias\nAviso de privacidad de los artículos coleccionables digitales\nCuentas sugeridas\nMeta Verified\nEspañol (España)\nAfrikaans\nČeština\nDansk\nDeutsch\nΕλληνικά\nEnglish\nEnglish (UK)\nEspañol (España)\nEspañol\nSuomi\nFrançais\nBahasa Indonesia\nItaliano\n日本語\n한국어\nBahasa Melayu\nNorsk\nNederlands\nPolski\nPortuguês (Brasil)\nPortuguês (Portugal)\nРусский\nSvenska\nภาษาไทย\nFilipino\nTürkçe\n中文(简体)\n中文(台灣)\nবাংলা\nગુજરાતી\nहिन्दी\nHrvatski\nMagyar\nಕನ್ನಡ\nമലയാളം\nमराठी\nनेपाली\nਪੰਜਾਬੀ\nසිංහල\nSlovenčina\nதமிழ்\nతెలుగు\nTiếng Việt\n中文(香港)\nБългарски\nFrançais (Canada)\nRomână\nСрпски\nУкраїнська\n© 2023 Instagram from Meta'

In [10]:
time.sleep(random.randint(1,3))
boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div/div[1]/div[1]/a/div[1]/div[2]')
boton[0].click()
#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco
#De momento este es el codigo que mejor me sirve para el click en la primera publicacion

In [11]:
"""boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div')
boton2[0].click()
#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco"""

"boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div')\nboton2[0].click()\n#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco"

In [12]:
"""boton3 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div')
boton3[2].click()
#este puede servir mejor"""

"boton3 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div')\nboton3[2].click()\n#este puede servir mejor"

In [13]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.850,266 M,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
"""descripcion = driver.find_elements(By.CLASS_NAME, '_a9zm')
descripcion[0].text
#este codigo es para obtener la descripcion de la publicacion
#voy a trocearlo para coger la descripcion y los hashtags
df.ph_descripcion = descripcion[0].text
df"""

"descripcion = driver.find_elements(By.CLASS_NAME, '_a9zm')\ndescripcion[0].text\n#este codigo es para obtener la descripcion de la publicacion\n#voy a trocearlo para coger la descripcion y los hashtags\ndf.ph_descripcion = descripcion[0].text\ndf"

In [15]:
"""#ahora vamos a coger el numero de likes y la hora de la publicacion
datos6 = driver.find_elements(By.CLASS_NAME, '_aacl')
#este codigo no sirve muy bien porque la clase está numerada rara"""

"#ahora vamos a coger el numero de likes y la hora de la publicacion\ndatos6 = driver.find_elements(By.CLASS_NAME, '_aacl')\n#este codigo no sirve muy bien porque la clase está numerada rara"

In [16]:
"""import requests

url = 'https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334583247_1640489326380800_1666787901082737621_n.jpg?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-mad2-1.cdninstagram.com&_nc_cat=1&_nc_ohc=0jR8EFI7bhkAX_tTusa&edm=AGenrX8BAAAA&ccb=7-5&oh=00_AfD3HT6hG53rPnrCsi_810CIKH-qGisb5s_pQvbEOroVkQ&oe=64114673&_nc_sid=5eceaa' # URL de la imagen
nombre_archivo = 'prueba.jpg' # Nombre del archivo que deseas guardar

# Descargar la imagen

# Guardar la imagen en un archivo
with open(nombre_archivo, 'wb') as archivo:
    archivo.write(respuesta.content)"""

"import requests\n\nurl = 'https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334583247_1640489326380800_1666787901082737621_n.jpg?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-mad2-1.cdninstagram.com&_nc_cat=1&_nc_ohc=0jR8EFI7bhkAX_tTusa&edm=AGenrX8BAAAA&ccb=7-5&oh=00_AfD3HT6hG53rPnrCsi_810CIKH-qGisb5s_pQvbEOroVkQ&oe=64114673&_nc_sid=5eceaa' # URL de la imagen\nnombre_archivo = 'prueba.jpg' # Nombre del archivo que deseas guardar\n\n# Descargar la imagen\n\n# Guardar la imagen en un archivo\nwith open(nombre_archivo, 'wb') as archivo:\n    archivo.write(respuesta.content)"

In [17]:
if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):
    print('si')
else:
    print('no')
#este codigo comprueba que sea una publicacion con video o foto

no

In [18]:
def sivideo():  
    if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):
        return 1
    else:
        return 0
#lo cargo en una funcion para poder llamarla desde el bucle

def siguientefoto():

    while True:
        time.sleep(random.randint(1,3))
        try:
            boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
            boton1[1].click()
        except:
            boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
            time.sleep(random.randint(1,3))
            boton2[1].click()
            break
#este codigo es para pasar a la siguiente foto, si no hay siguiente foto, se sale del bucle. Creo que no hace falta porque puedo coger las fotos desde otro lado

In [19]:
boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')

boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')

time.sleep(random.randint(1,3))

boton2[0].click()
time.sleep(random.randint(1,3))
#aqui paso la primera foto, porque es necesario para que siga funcionando el codigo ya que el boton de primera foto es distinto al de siguiente foto

In [20]:
"""try:
    boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
    boton1[0].click()
    siguientefoto()

except:
    boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
    boton2[1].click()
#aqui va pasando foto a foto hasta que no hay mas fotos"""

"try:\n    boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')\n    boton1[0].click()\n    siguientefoto()\n\nexcept:\n    boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')\n    boton2[1].click()\n#aqui va pasando foto a foto hasta que no hay mas fotos"

In [21]:
"""boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
                                        
#boton1[0].click()
boton2[1].click()"""

"boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')\nboton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')\n                                        \n#boton1[0].click()\nboton2[1].click()"

In [22]:
"""contador = 0
while contador < 100:
    if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):
        boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div[2]/button')
        boton[0].click()
        pass"""

"contador = 0\nwhile contador < 100:\n    if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):\n        boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div[2]/button')\n        boton[0].click()\n        pass"

In [23]:
"""#Vamos a intentar sacar la informacion que hay en la etiqueta "_aagv"
etiqueta = driver.find_elements(By.XPATH, "/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div/div/div[1]/img")
etiqueta[0].text
"""

'#Vamos a intentar sacar la informacion que hay en la etiqueta "_aagv"\netiqueta = driver.find_elements(By.XPATH, "/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div/div/div[1]/img")\netiqueta[0].text\n'

In [24]:
etiqueta = driver.find_elements(By.CLASS_NAME, '_aagv')
etiqueta[3].text

''

In [25]:
etiqueta[0].text

''

In [26]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.850,266 M,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
"""likes = driver.find_elements(By.CLASS_NAME, '_aacl')
likes[0].text"""

"likes = driver.find_elements(By.CLASS_NAME, '_aacl')\nlikes[0].text"

In [28]:
"""#ahora vamos a coger el numero de likes y la hora de la publicacion,pero no sirve muy bien
datos6 = driver.find_elements(By.CLASS_NAME, '_aacl')
likespub = datos6[47].text
likespub"""

"#ahora vamos a coger el numero de likes y la hora de la publicacion,pero no sirve muy bien\ndatos6 = driver.find_elements(By.CLASS_NAME, '_aacl')\nlikespub = datos6[47].text\nlikespub"

In [29]:
"""descrippub = datos6[46].text
descrippub"""

'descrippub = datos6[46].text\ndescrippub'

In [30]:
element = driver.find_element(By.CSS_SELECTOR, '._aacl._aacm._aacu._aacy._aad6')

In [31]:
element.text

'HACE 3 HORAS'

In [32]:
hora = driver.find_elements(By.CLASS_NAME, '_aaqe')
hora1 = hora[0].get_attribute('datetime')
hora1

'2023-03-14T20:44:17.000Z'

In [33]:
likes2 = driver.find_element(By.CSS_SELECTOR, '._aacl._aaco._aacw._aacx._aada._aade')
likes2.text

'34.252 Me gusta'

In [34]:
descripcion1 = driver.find_element(By.CSS_SELECTOR, '._aacl._aaco._aacu._aacx._aad7._aade')
descripcion1.text

"Photo by @stephenwilkes | During a winter scouting trip in Alaska several years ago, I discovered a frozen mountaintop lake. Our helicopter was able to land on it. It was bitter cold, but a truly magical experience seeing untouched glacial ice on a brilliant blue-sky day. The ice displays an endless array of patterns, colors, and textures. This was a detail shot of the ice, which dramatically changed in appearance as a snow gust blew in. Suddenly the scene began to resemble a mountain shot from above, but it's an illusion. To see more from my travels near and far, follow me @stephenwilkes."

In [35]:
contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
contenido = contfoto[0].get_attribute('innerHTML')
contenido
imagen = contfoto[0].find_elements(By.CSS_SELECTOR, 'img')
alt = imagen[0].get_attribute('alt')
alt
src = imagen[0].get_attribute('src')
src

'https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35&_nc_ht=scontent-mad2-1.cdninstagram.com&_nc_cat=1&_nc_ohc=8JpsCO12MiIAX-d6H9O&edm=ACWDqb8BAAAA&ccb=7-5&ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&oh=00_AfCyWs1sM2nqKbDzXL_mXwOjYsNN5LTHGBUBfU6auLvnUw&oe=64154FCC&_nc_sid=1527a3'

In [36]:
alt

'Photo by National Geographic on March 14, 2023. May be a closeup of nature.'

In [37]:
imagen[0].text

''

In [38]:
"""carpeta = '../images'
imagen_respuesta = requests.get(src)
archivo_nombre = 'ejemplo2.jpg'
archivo_ruta = os.path.join(carpeta, archivo_nombre)
with open(archivo_ruta, 'wb') as archivo:
    archivo.write(imagen_respuesta.content)"""

In [ ]:
"""imagen_respuesta = requests.get(src)
carpeta = "../images"
nombre = "imagenpreuba2.jpg"
archivo = os.path.join(carpeta, nombre)
with open(archivo, "wb") as archivo:
    archivo.write(imagen_respuesta.content)"""

'imagen_respuesta = requests.get(src)\ncarpeta = "../images"\nnombre = "imagenpreuba2.jpg"\narchivo = os.path.join(carpeta, nombre)\nwith open(archivo, "wb") as archivo:\n    archivo.write(imagen_respuesta.content)'

In [41]:
"""contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
contenido = contfoto[0].get_attribute('innerHTML')
contenido
boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
boton1[0].click()
for i in contfoto:
    print(i.get_attribute('innerHTML'))"""

<div class="_aagv" style="padding-bottom: 125%;"><img alt="Photo by National Geographic on March 14, 2023. May be a closeup of nature." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto" sizes="662.390625px" srcset="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35_p1080x1080&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfBACQDGN0GOmzyuLX2hWWClzQcSVfCAnvoZoReSlnc1jg&amp;oe=64154FCC&amp;_nc_sid=1527a3 1080w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35_p720x720&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfBFng7Edo3xVQFoyCDjLaKW8yKtWusF-4KnTz-J-dhAUA&amp;oe=64154FCC&amp;_nc_sid=1527a3 720w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfBJ05RhWQA1Oq98GC9MIHL6AKT6YX3KSNxGF_tSj6yaCQ&amp;oe=64154FCC&amp;_nc_sid=1527a3 640w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35_p480x480&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfBwA_o629Xv695KoNPbZSYOnbCcnGioAYiN8pMDlPf66A&amp;oe=64154FCC&amp;_nc_sid=1527a3 480w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35_p320x320&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfABIlxlRxkuVuYoQP3vy8aaWqm1yAi4JKN2f2IgWFXysg&amp;oe=64154FCC&amp;_nc_sid=1527a3 320w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35_p240x240&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfAcX6bQ0HRzP2zR4SOjYA4OxOnhIrpiC0FOGILGc0gifg&amp;oe=64154FCC&amp;_nc_sid=1527a3 240w" src="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/336020177_1362182594574156_6374862014393630261_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=8JpsCO12MiIAX-d6H9O&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA0ODQ2ODQwMQ%3D%3D.2-ccb7-5&amp;oh=00_AfCyWs1sM2nqKbDzXL_mXwOjYsNN5LTHGBUBfU6auLvnUw&amp;oe=64154FCC&amp;_nc_sid=1527a3" style="object-fit: cover;"></div><div class="_aagw"></div>
<div class="_aagv" style="padding-bottom: 125%;"><img alt="Photo by National Geographic on March 14, 2023. May be a closeup of outdoors." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto" sizes="662.390625px" srcset="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35_p1080x1080&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfBqoMbWWcuURvMkQz-fzjC_R_FLQ4WfGX0o-9ZDIpRGiA&amp;oe=641633E0&amp;_nc_sid=1527a3 1080w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35_p720x720&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfAR2r0p_Fr4bZ0iTLa1Zol18-rTi1vt6McRV_rV5FQCrA&amp;oe=641633E0&amp;_nc_sid=1527a3 720w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfCKUCsRuTmKNRR_xZLWf4Mxg4GtXg5vskS0A3Ce5BoCHA&amp;oe=641633E0&amp;_nc_sid=1527a3 640w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35_p480x480&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfAs-xT10jdn5DSJ2N-Ldwe2yLAuHOHxlwgJi-K2YDWr0Q&amp;oe=641633E0&amp;_nc_sid=1527a3 480w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35_p320x320&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfD5og6Bz77Rxi9U8z_9i-ohawqSMz1zpGVqI0AP77S6vg&amp;oe=641633E0&amp;_nc_sid=1527a3 320w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35_p240x240&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfCK-c3BCP06075HySy-hO4qRsBE9s0Xxb2ixlC5boaG-Q&amp;oe=641633E0&amp;_nc_sid=1527a3 240w" src="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/335979155_931529888046920_3779531064816362223_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=1hP3HpWJnL8AX8dbszf&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1ODU0MjEzNjA5MDE4ODY2MA%3D%3D.2-ccb7-5&amp;oh=00_AfA3vy3r_kElre40OXVFWl0SryT6mXrKpm4FidNo2VsKrg&amp;oe=641633E0&amp;_nc_sid=1527a3" style="object-fit: cover;"></div><div class="_aagw"></div>

In [42]:
alt

'Photo by National Geographic on March 14, 2023. May be a closeup of nature.'

In [43]:
def damefoto(df, cont1, indexa):

    try:
        boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
        boton1[0].click()
        time.sleep(random.randint(1, 3))
        try:
            boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
            time.sleep(random.randint(1, 3))
            boton1[1].click()
            try:
                boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
                time.sleep(random.randint(1, 3))
                boton1[1].click()
            except:
                pass
        except:
            pass
    except:
        pass

    cont2 = 1
    contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')

    for i in contfoto:
        indexa = indexa + 1

        df = df.append({},ignore_index = True)

        hora = driver.find_elements(By.CLASS_NAME, '_aaqe')
        df.loc[indexa, "ph_fecha"] = hora[0].get_attribute('datetime')

        likes2 = driver.find_element(By.CSS_SELECTOR, '._aacl._aaco._aacw._aacx._aada._aade')
        df.loc[indexa, "ph_likes"] = likes2.text

        descripcion1 = driver.find_element(By.CSS_SELECTOR, '._aacl._aaco._aacu._aacx._aad7._aade')
        df.loc[indexa, 'ph_descripcion'] = descripcion1.text

        imagen = i.find_elements(By.CSS_SELECTOR, 'img')
        df.loc[indexa, 'ph_atributos'] = imagen[0].get_attribute('alt')
        df.loc[indexa, 'ph_url'] = imagen[0].get_attribute('src')
        src = imagen[0].get_attribute('src')
        imagen_respuesta = requests.get(src)
        carpeta = "../images"
        nombre = f"imagenpreuba{cont1}-{cont2}.jpg"
        df.loc[indexa, 'ph_nombre'] = nombre
        df.loc[indexa, 'ph_numerado'] = cont1
        archivo = os.path.join(carpeta, nombre)

        with open(archivo, "wb") as archivo:
            archivo.write(imagen_respuesta.content)
        cont2 += 1
    return(df)

In [44]:
#x'ph_descripcion', x'ph_likes', x'ph_fecha', x'ph_url', x'ph_nombre', x'ph_atributos'
cont1 = 1
indexa = 0
while cont1 < 51:
    df = df.append({},ignore_index = True)
    if sivideo() == 0:
        df = damefoto(df, cont1, indexa)
    boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
    time.sleep(random.randint(1,3))
    boton2[1].click()
    if cont1 % 50 == 0:
        df.to_csv("../data/datos.csv", index = False)
    cont1 = cont1 + 1
    indexa = indexa + 1

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/1307850793.py:28: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1815/69949695.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)

In [ ]:
"""contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
src = contfoto[0].get_attribute('src')
contenido = contfoto[0].get_attribute('innerHTML')
imagen_respuesta = requests.get(src)
carpeta = "../images"
nombre = f"imagenpreuba{cont1}-{cont2}.jpg"
df.loc[cont1, 'ph_nombre'] = nombre
archivo = os.path.join(carpeta, nombre)

with open(archivo, "wb") as archivo:
    archivo.write(imagen_respuesta.content)"""

'contfoto = driver.find_elements(By.CSS_SELECTOR, \'._aagu._aato\')\nsrc = contfoto[0].get_attribute(\'src\')\ncontenido = contfoto[0].get_attribute(\'innerHTML\')\nimagen_respuesta = requests.get(src)\ncarpeta = "../images"\nnombre = f"imagenpreuba{cont1}-{cont2}.jpg"\ndf.loc[cont1, \'ph_nombre\'] = nombre\narchivo = os.path.join(carpeta, nombre)\n\nwith open(archivo, "wb") as archivo:\n    archivo.write(imagen_respuesta.content)'

In [ ]:
"""contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
contfoto[1].text"""

''

In [ ]:
"""contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
contenido = contfoto[0].get_attribute('innerHTML')
imagen = contfoto[0].find_elements(By.CSS_SELECTOR, 'img')
alt = imagen[0].get_attribute('alt')
alt
src = imagen[0].get_attribute('src')
src
carpeta = '../images'
imagen_respuesta = requests.get(src)
archivo_nombre = 'ejemplo3.jpg'
archivo_ruta = os.path.join(carpeta, archivo_nombre)
with open(archivo_ruta, 'wb') as archivo:
    archivo.write(imagen_respuesta.content)"""

In [47]:
df.head(50)

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.850,266 M,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,34.252 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1
2,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,34.252 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1
3,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @richardbarnes | Since 2019 I've bee...,39.970 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3
4,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @celestesloman | American textile art...,45.500 Me gusta,2023-03-14T01:00:13.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba4-1.jpg,Photo shared by National Geographic on March 1...,4
5,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @richardbarnes | Since 2019 I've bee...,39.970 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-3.jpg,"Photo by National Geographic on March 14, 2023...",3
6,NaN,NaN,NaN,NaN,NaN,NaN,Read the full story at the link in bio.\n\nUnl...,343.373 Me gusta,2023-03-13T17:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba6-1.jpg,"Photo by National Geographic on March 13, 2023...",6
7,NaN,NaN,NaN,NaN,NaN,NaN,Photos by Muhammed Muheisen @mmuheisen | Eveni...,106.376 Me gusta,2023-03-13T13:00:19.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba7-1.jpg,"Photo by National Geographic on March 13, 2023...",7
8,NaN,NaN,NaN,NaN,NaN,NaN,"Photo by @jasperdoest | An Anatolian leopard, ...",97.729 Me gusta,2023-03-13T00:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba8-1.jpg,"Photo by National Geographic on March 12, 2023...",8
9,NaN,NaN,NaN,NaN,NaN,NaN,"Photo by @babaktafreshi | In 2009, on a peacef...",120.028 Me gusta,2023-03-12T19:00:12.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba9-1.jpg,"Photo by National Geographic on March 12, 2023...",9
10,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @paoloverzone | A team of geneticists...,154.234 Me gusta,2023-03-12T16:00:12.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba10-1.jpg,"Photo by National Geographic on March 12, 2023.",10
11,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @kiliiiyuyan | A young guanaco—also k...,97.836 Me gusta,2023-03-12T11:00:13.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba11-1.jpg,"Photo by National Geographic on March 12, 2023...",11
12,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @michaelchristopherbrown | Trekkers h...,169.723 Me gusta,2023-03-12T01:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba12-1.jpg,"Photo by National Geographic on March 11, 2023...",12
13,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @nadiashiracohen | When Phalla became...,71.900 Me gusta,2023-03-11T20:00:13.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba13-1.jpg,"Photo by National Geographic on March 11, 2023...",13
14,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @javier_aznar_photography | Escaping ...,94.772 Me gusta,2023-03-11T15:00:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba14-1.jpg,"Photo by National Geographic on March 11, 2023...",14
15,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @rubensalgadoescudero | Faustina Flor...,103.662 Me gusta,2023-03-11T12:00:22.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba15-1.jpg,"Photo by National Geographic on March 11, 2023...",15
16,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @beverlyjoubert | There are plenty of...,123.082 Me gusta,2023-03-11T01:00:12.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba16-1.jpg,"Photo by National Geographic on March 10, 2023...",16
17,NaN,NaN,NaN,NaN,NaN,NaN,Read the full story at the link in bio.\n\nFro...,714.986 Me gusta,2023-03-10T22:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba17-1.jpg,"Photo by National Geographic on March 10, 2023...",17
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.032 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba19-1.jpg,"Photo by National Geographic on March 10, 2023.",19
20,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.032 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba19-2.jpg,"Photo by National Geographic on March 10, 2023...",19
21,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @yagazieemezi | Two members of Mavula...,38.174 Me gusta,2023-03-09T19:41:52.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba21-1.jpg,"Photo by National Geographic on March 09, 2023...",21
22,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @brianskerry | Beluga whales swim in ...,125.784 Me gusta,2023-03-09T15:30:12.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba22-1.jpg,"Photo by National Geographic on March 09, 2023...",22
23,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @ismailferdous | Sugar Loaf Dam is a...,107.667 Me gusta,2023-03-09T12:00:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba23-1.jpg,"Photo by National Geographic on March 09, 2023...",23
24,NaN,NaN,NaN,NaN,NaN,NaN,"Photo by @amivitale | In northern Kenya, Naite...",71.836 Me gusta,2023-03-08T23:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba24-1.jpg,"Photo by National Geographic on March 08, 2023...",24
25,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @erintrieb | On International Women’...,61.552 Me gusta,2023-03-08T20:30:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba25-1.jpg,"Photo by National Geographic on March 08, 2023...",25
26,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @luisadorr | Teffy is a member of the...,67.474 Me gusta,2023-03-08T17:00:22.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba26-1.jpg,"Photo by National Geographic on March 08, 2023...",26
27,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @nicholesobecki | A five-month-old ca...,97.292 Me gusta,2023-03-08T12:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba27-1.jpg,"Photo by National Geographic on March 08, 2023...",27
28,NaN,NaN,NaN,NaN,NaN,NaN,Photos by Michael Yamashita @yamashitaphoto | ...,65.696 Me gusta,2023-03-08T03:30:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba28-1.jpg,"Photo by National Geographic on March 07, 2023...",28
29,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @jimmychin | Towering above all else...,100.266 Me gusta,2023-03-08T01:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba29-1.jpg,"Photo by National Geographic on March 07, 2023...",29
30,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @tasneemalsultan | With the recent ea...,48.377 Me gusta,2023-03-07T22:00:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba30-1.jpg,"Photo by National Geographic on March 07, 2023...",30
31,NaN,NaN,NaN,NaN,NaN,NaN,Photo by Tomas van Houtryve @tomasvh | Early o...,76.268 Me gusta,2023-03-07T12:00:09.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba31-1.jpg,"Photo by National Geographic on March 07, 2023...",31
32,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @sofia_jaramillo5 | Shepherd Adriel ...,86.093 Me gusta,2023-03-07T02:00:12.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba32-1.jpg,"Photo by National Geographic on March 06, 2023...",32
33,NaN,NaN,NaN,NaN,NaN,NaN,Read the full story at the link in bio.\n\nFor...,409.809 Me gusta,2023-03-06T22:00:12.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba33-1.jpg,"Photo by National Geographic on March 06, 2023...",33
34,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @paoloverzone | The mummy known as KV...,138.003 Me gusta,2023-03-06T17:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba34-1.jpg,"Photo by National Geographic on March 06, 2023...",34
35,NaN,NaN,NaN,NaN,NaN,NaN,Photo by Muhammed Muheisen @mmuheisen | How sm...,197.014 Me gusta,2023-03-06T12:00:12.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba35-1.jpg,"Photo by National Geographic on March 06, 2023...",35
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @renaeffendiphoto | Wedged among the...,125.816 Me gusta,2023-03-05T22:00:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba37-1.jpg,"Photo by National Geographic on March 05, 2023...",37
38,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @gerdludwig | Ethereal and mysterious...,63.347 Me gusta,2023-03-05T17:00:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba38-1.jpg,"Photo by National Geographic on March 05, 2023...",38
39,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @michaelchristopherbrown | Rangers at...,77.157 Me gusta,2023-03-05T12:00:13.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba39-1.jpg,"Photo by National Geographic on March 05, 2023...",39
40,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @martinschoeller | In 2022 I began a ...,56.259 Me gusta,2023-03-05T01:00:13.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba40-1.jpg,"Photo by National Geographic on March 04, 2023...",40
41,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @babaktafreshi | I have peaceful mem...,184.734 Me gusta,2023-03-04T22:00:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba41-1.jpg,"Photo by National Geographic on March 04, 2023...",41
42,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @bertiegregory | Despite being one of...,208.241 Me gusta,2023-03-04T17:00:13.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba42-1.jpg,"Photo by National Geographic on March 04, 2023...",42
43,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @jasperdoest | Sometimes you come acr...,111.047 Me gusta,2023-03-04T12:00:12.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba43-1.jpg,"Photo by National Geographic on March 04, 2023...",43
44,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @joelsartore | This adorable critter ...,103.404 Me gusta,2023-03-04T04:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba44-1.jpg,"Photo by National Geographic on March 03, 2023...",44
45,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @beverlyjoubert | They're alert and w...,182.431 Me gusta,2023-03-04T01:00:12.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba45-1.jpg,"Photo by National Geographic on March 03, 2023...",45
46,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @brianskerry | A sperm whale calf swi...,97.965 Me gusta,2023-03-03T22:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba46-1.jpg,"Photo by National Geographic on March 03, 2023...",46
47,NaN,NaN,NaN,NaN,NaN,NaN,Photo by Javier Aznar @javier_aznar_photograph...,130.400 Me gusta,2023-03-03T17:00:13.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba47-1.jpg,"Photo by National Geographic on March 03, 2023.",47
48,NaN,NaN,NaN,NaN,NaN,NaN,Read the full story at the link in bio.\n\nA n...,103.296 Me gusta,2023-03-03T12:00:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba48-1.jpg,"Photo by National Geographic on March 03, 2023...",48
49,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @chrisburkard | What does it take to ...,162.251 Me gusta,2023-03-03T01:00:10.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba49-1.jpg,"Photo by National Geographic on March 02, 2023...",49

In [46]:
cont1 = 1
index = 0
df = damefoto(df, cont1,index)
df

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1332/3729361289.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1332/3729361289.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1332/3729361289.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1332/3729361289.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1332/3729361289.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_1332/3729361289.py:22: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.038 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 10, 2023...",1
2,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.038 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 10, 2023.",1
3,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.038 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba1-3.jpg,"Photo by National Geographic on March 10, 2023...",1

In [52]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.038 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 10, 2023...",1
2,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @andrea_frazzetta | Located in north...,139.038 Me gusta,2023-03-10T12:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 10, 2023.",1
3,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @yagazieemezi | Two members of Mavula...,38.176 Me gusta,2023-03-09T19:41:52.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 09, 2023...",3
4,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @brianskerry | Beluga whales swim in ...,125.786 Me gusta,2023-03-09T15:30:12.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba4-1.jpg,"Photo by National Geographic on March 09, 2023...",4
5,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @ismailferdous | Sugar Loaf Dam is a...,107.668 Me gusta,2023-03-09T12:00:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba5-1.jpg,"Photo by National Geographic on March 09, 2023...",5
6,NaN,NaN,NaN,NaN,NaN,NaN,"Photo by @amivitale | In northern Kenya, Naite...",71.837 Me gusta,2023-03-08T23:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba6-1.jpg,"Photo by National Geographic on March 08, 2023...",6
7,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @erintrieb | On International Women’...,61.553 Me gusta,2023-03-08T20:30:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba7-1.jpg,"Photo by National Geographic on March 08, 2023...",7
8,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @luisadorr | Teffy is a member of the...,67.474 Me gusta,2023-03-08T17:00:22.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba8-1.jpg,"Photo by National Geographic on March 08, 2023...",8
9,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @nicholesobecki | A five-month-old ca...,97.291 Me gusta,2023-03-08T12:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba9-1.jpg,"Photo by National Geographic on March 08, 2023...",9
10,NaN,NaN,NaN,NaN,NaN,NaN,Photos by Michael Yamashita @yamashitaphoto | ...,65.695 Me gusta,2023-03-08T03:30:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba10-1.jpg,"Photo by National Geographic on March 07, 2023...",10
11,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @jimmychin | Towering above all else...,100.265 Me gusta,2023-03-08T01:00:10.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba11-1.jpg,"Photo by National Geographic on March 07, 2023...",11
12,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @tasneemalsultan | With the recent ea...,48.378 Me gusta,2023-03-07T22:00:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba12-1.jpg,"Photo by National Geographic on March 07, 2023...",12
13,NaN,NaN,NaN,NaN,NaN,NaN,Photo by Tomas van Houtryve @tomasvh | Early o...,76.270 Me gusta,2023-03-07T12:00:09.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba13-1.jpg,"Photo by National Geographic on March 07, 2023...",13
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN