In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
import warnings
import random


with open("../con.txt", "r") as user:
    usuario = user.readline().strip()
    passw = user.readline().strip()

PATH = ChromeDriverManager().install() 
driver = webdriver.Chrome(PATH)
driver.get("https://www.instagram.com/natgeo/")
time.sleep(random.randint(4,6))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[2]/div/div/div/div/div[2]/div/button[1]')
elemento.click()

time.sleep(random.randint(3,5))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/nav/div[2]/div/div/div[3]/div/div[2]/div[1]/a/button')
elemento.click()

time.sleep(random.randint(3,5))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[1]/div/label/input')
elemento.send_keys(usuario)

time.sleep(random.randint(1,3))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[2]/div/label/input')
elemento.send_keys(passw)

time.sleep(random.randint(2,3))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[3]/button')
elemento.click()

time.sleep(random.randint(6,8))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div/div/div/button')
elemento.click()

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/1871130950.py:14: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [85]:
#Vamos a crear un dataframe con los datos que hemos obtenido
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests

df = pd.DataFrame(columns=['pg_direccion', 'pg_nombre', 'pg_descripcion', 'pg_numero_de_publicaciones', 'pg_seguidores', 'pg_seguidos', 'ph_descripcion'])

In [3]:
datos = driver.find_elements(By.CLASS_NAME, '_ac2a')
df = df.append({},ignore_index = True)
df.pg_numero_de_publicaciones = datos[0].text
df.pg_seguidores = datos[1].text
df.pg_seguidos = datos[2].text
datos[0].text, datos[1].text, datos[2].text

#el [0] es el numero de publiaciones
#el [1] es el numero de seguidores
#el [2] es el numero de seguidos

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/3099912068.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/3099912068.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)

('27.848', '266 M', '140')

In [4]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion
0,NaN,NaN,NaN,27.848,266 M,140,NaN

In [5]:
datos2 = driver.find_elements(By.TAG_NAME, 'h2')
datos2[0].text
df.pg_direccion = datos2[0].text
#el numero [0] contiene el nombre de la cuenta

In [6]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion
0,natgeo,NaN,NaN,27.848,266 M,140,NaN

In [7]:
datos3 = driver.find_elements(By.CLASS_NAME, '_aa_c')
datos3[0].text
datos4 = []
#aqui esta guardado el nombre de la descripcion de la cuenta y la descripcion
#voy a separar datos3 en dos elementos, uno con el nombre de la cuenta y otro con la descripcion
datos4.append(datos3[0].text.split('\n',1)[0])
datos4.append(datos3[0].text.split('\n',1)[1])
datos4[0], datos4[1]

df.pg_nombre = datos4[0]
df.pg_descripcion = datos4[1]
#en datos 4[0] esta el nombre de la cuenta y en datos4[1] esta la descripcion

In [8]:
#time.sleep(random.randint(6,8))
#elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[4]/article/div[1]/div/div[1]/div[1]/a/div/div[2]')
#elemento.click()
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.848,266 M,140,NaN

In [9]:
datos5 = driver.find_elements(By.CLASS_NAME, 'x1iyjqo2')
datos5[1].text

'natgeo\nVerificado\nSiguiendo\nEnviar mensaje\n27.848 publicaciones\n266 M seguidores\n140 seguidos\nNational Geographic\nExperience the world through the eyes of National Geographic photographers.\non.natgeo.com/instagram\nanimalplanet, wildlife_photography_india, natgeowild y 17 más siguen esta cuenta\nStonehenge\nKing Tut\nBlack Joy\nOut of Eden\nBallesta\nArctic Life\nMars AR\nDino AR\nReimagined Dino\nHoneybees\nEnd of Trash\nChild Sacrifice\nPangolins\nWildlifeTourism\nPUBLICACIONES\nREELS\nETIQUETADAS\nMeta\nInformación\nBlog\nEmpleo\nAyuda\nAPI\nPrivacidad\nCondiciones\nCuentas destacadas\nUbicaciones\nInstagram Lite\nSubir contactos y personas no usuarias\nAviso de privacidad de los artículos coleccionables digitales\nCuentas sugeridas\nMeta Verified\nEspañol (España)\nAfrikaans\nČeština\nDansk\nDeutsch\nΕλληνικά\nEnglish\nEnglish (UK)\nEspañol (España)\nEspañol\nSuomi\nFrançais\nBahasa Indonesia\nItaliano\n日本語\n한국어\nBahasa Melayu\nNorsk\nNederlands\nPolski\nPortuguês (Brasil)\nPortuguês (Portugal)\nРусский\nSvenska\nภาษาไทย\nFilipino\nTürkçe\n中文(简体)\n中文(台灣)\nবাংলা\nગુજરાતી\nहिन्दी\nHrvatski\nMagyar\nಕನ್ನಡ\nമലയാളം\nमराठी\nनेपाली\nਪੰਜਾਬੀ\nසිංහල\nSlovenčina\nதமிழ்\nతెలుగు\nTiếng Việt\n中文(香港)\nБългарски\nFrançais (Canada)\nRomână\nСрпски\nУкраїнська\n© 2023 Instagram from Meta'

In [10]:
time.sleep(random.randint(1,3))
boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div/div[1]/div[1]/a/div[1]/div[2]')
boton[0].click()
#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco
#De momento este es el codigo que mejor me sirve para el click en la primera publicacion

In [11]:
"""boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div')
boton2[0].click()
#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco"""

"boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div')\nboton2[0].click()\n#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco"

In [12]:
"""boton3 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div')
boton3[2].click()
#este puede servir mejor"""

"boton3 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div')\nboton3[2].click()\n#este puede servir mejor"

In [13]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.848,266 M,140,NaN

In [14]:
descripcion = driver.find_elements(By.CLASS_NAME, '_a9zm')
descripcion[0].text
#este codigo es para obtener la descripcion de la publicacion
#voy a trocearlo para coger la descripcion y los hashtags
df.ph_descripcion = descripcion[0].text
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.848,266 M,140,natgeo\nVerificado\nNational Geographic photog...

In [15]:
#ahora vamos a coger el numero de likes y la hora de la publicacion
datos6 = driver.find_elements(By.CLASS_NAME, '_aacl')

In [16]:
datos6[47].text

'dhl_global'

In [17]:
"""import requests

url = 'https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334583247_1640489326380800_1666787901082737621_n.jpg?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-mad2-1.cdninstagram.com&_nc_cat=1&_nc_ohc=0jR8EFI7bhkAX_tTusa&edm=AGenrX8BAAAA&ccb=7-5&oh=00_AfD3HT6hG53rPnrCsi_810CIKH-qGisb5s_pQvbEOroVkQ&oe=64114673&_nc_sid=5eceaa' # URL de la imagen
nombre_archivo = 'prueba.jpg' # Nombre del archivo que deseas guardar

# Descargar la imagen

# Guardar la imagen en un archivo
with open(nombre_archivo, 'wb') as archivo:
    archivo.write(respuesta.content)"""

"import requests\n\nurl = 'https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334583247_1640489326380800_1666787901082737621_n.jpg?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-mad2-1.cdninstagram.com&_nc_cat=1&_nc_ohc=0jR8EFI7bhkAX_tTusa&edm=AGenrX8BAAAA&ccb=7-5&oh=00_AfD3HT6hG53rPnrCsi_810CIKH-qGisb5s_pQvbEOroVkQ&oe=64114673&_nc_sid=5eceaa' # URL de la imagen\nnombre_archivo = 'prueba.jpg' # Nombre del archivo que deseas guardar\n\n# Descargar la imagen\n\n# Guardar la imagen en un archivo\nwith open(nombre_archivo, 'wb') as archivo:\n    archivo.write(respuesta.content)"

In [18]:
if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):
    print('si')
else:
    print('no')
#este codigo comprueba que sea una publicacion con video o foto

si

In [19]:
def sivideo():  
    if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):
        return 1
    else:
        return 0

def siguientefoto():

    while True:
        time.sleep(random.randint(1,3))
        try:
            boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
            boton1[1].click()
        except:
            boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
            time.sleep(random.randint(1,3))
            boton2[1].click()
            break

In [20]:
boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')

boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')

time.sleep(random.randint(1,3))

boton2[0].click()
time.sleep(random.randint(1,3))

In [45]:
try:
    boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
    boton1[0].click()
    siguientefoto()

except:
    boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
    boton2[1].click()

In [46]:
"""boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')
boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')
                                        
#boton1[0].click()
boton2[1].click()"""

"boton1 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div[1]/div[2]/div/button')\nboton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div/button')\n                                        \n#boton1[0].click()\nboton2[1].click()"

In [47]:
"""contador = 0
while contador < 100:
    if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):
        boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div[2]/button')
        boton[0].click()
        pass"""

"contador = 0\nwhile contador < 100:\n    if driver.find_elements(By.CLASS_NAME, 'xg10s4p'):\n        boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[1]/div/div/div[2]/button')\n        boton[0].click()\n        pass"

In [48]:
#Vamos a intentar sacar la informacion que hay en la etiqueta "_aagv"
etiqueta = driver.find_elements(By.XPATH, "/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/div/div/div/div/div[2]/div/article/div/div[1]/div/div/div/div[1]/img")
etiqueta[0].text

''

In [49]:
etiqueta = driver.find_elements(By.CLASS_NAME, '_aagv')
etiqueta[3].text

''

In [50]:
etiqueta[0].text

''

In [51]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.848,266 M,140,natgeo\nVerificado\nNational Geographic photog...

In [52]:
"""likes = driver.find_elements(By.CLASS_NAME, '_aacl')
likes[0].text"""

"likes = driver.find_elements(By.CLASS_NAME, '_aacl')\nlikes[0].text"

In [91]:
#ahora vamos a coger el numero de likes y la hora de la publicacion
datos6 = driver.find_elements(By.CLASS_NAME, '_aacl')
likespub = datos6[47].text
likespub

"Photos by @andrea_frazzetta | Located in northern Ethiopia's Afar Triangle, the Danakil Depression is where three tectonic plates meet. This vast plain is the homeland of the Afar nomads, who live off extracting minerals, namely salt, in one of the most inhospitable places on Earth. Follow @andrea_frazzetta for more images and stories. #Africa #Ethiopia #Danakil"

In [92]:
descrippub = datos6[46].text
descrippub

'138.998 Me gusta'

In [93]:
element = driver.find_element(By.CSS_SELECTOR, '._aacl._aacm._aacu._aacy._aad6')

In [94]:
element.text

'HACE 4 DÍAS'

In [95]:
hora = driver.find_elements(By.CLASS_NAME, '_aaqe')
hora1 = hora[0].get_attribute('datetime')
hora1

'2023-03-10T12:00:15.000Z'

In [96]:
likes2 = driver.find_element(By.CSS_SELECTOR, '._aacl._aaco._aacw._aacx._aada._aade')
likes2.text

'138.998 Me gusta'

In [97]:
descripcion1 = driver.find_element(By.CSS_SELECTOR, '._aacl._aaco._aacu._aacx._aad7._aade')
descripcion1.text

"Photos by @andrea_frazzetta | Located in northern Ethiopia's Afar Triangle, the Danakil Depression is where three tectonic plates meet. This vast plain is the homeland of the Afar nomads, who live off extracting minerals, namely salt, in one of the most inhospitable places on Earth. Follow @andrea_frazzetta for more images and stories. #Africa #Ethiopia #Danakil"

In [100]:
contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
contenido = contfoto[0].get_attribute('innerHTML')
contenido
imagen = contfoto[0].find_elements(By.CSS_SELECTOR, 'img')
alt = imagen[0].get_attribute('alt')
alt
src = imagen[0].get_attribute('src')
src

'https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35&_nc_ht=scontent-mad2-1.cdninstagram.com&_nc_cat=108&_nc_ohc=kxXaK2_zZJsAX_knAha&edm=ABmJApABAAAA&ccb=7-5&ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&oh=00_AfCsab0Jo4zPNSbqn_yucCPjkGqOYFHsNesjtpaAnjArUw&oe=6414E6F5&_nc_sid=6136e7'

In [99]:
alt

'Photo by National Geographic on March 10, 2023. May be an image of 1 person and outdoors.'

In [89]:
"""carpeta = '/ruta/a/mi/carpeta'
archivo_nombre = 'ejemplo.jpg'
archivo_ruta = os.path.join(carpeta, archivo_nombre)
with open(archivo_ruta, 'wb') as archivo:
    archivo.write(imagen_respuesta.content)"""

"carpeta = '/ruta/a/mi/carpeta'\narchivo_nombre = 'ejemplo.jpg'\narchivo_ruta = os.path.join(carpeta, archivo_nombre)\nwith open(archivo_ruta, 'wb') as archivo:\n    archivo.write(imagen_respuesta.content)"

In [90]:
imagen_respuesta = requests.get(src)
carpeta = "../images"
nombre = "imagenpreuba2.jpg"
archivo = os.path.join(carpeta, nombre)
with open(archivo, "wb") as archivo:
    archivo.write(imagen_respuesta.content)

In [107]:
contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
contenido = contfoto[2].get_attribute('innerHTML')
contenido

'<div class="_aagv" style="padding-bottom: 125%;"><img alt="Photo by National Geographic on March 10, 2023. May be an image of 1 person, standing, fire and outdoors." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto" sizes="662.390625px" srcset="https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p1080x1080&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfB-55SsPw9Esr7_Tw3u8wlUrYLQGn-rPFtcZkE5KzuSmQ&amp;oe=64152086&amp;_nc_sid=6136e7 1080w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p720x720&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfDQM0CWuhteBwbOZP_OBMyIl_j59PyV4aSb1GWEaU2pig&amp;oe=64152086&amp;_nc_sid=6136e7 720w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfCbAxuqD9UX3iLfWZuGrQyscJsmAPWoAPkD-bI-hPUwpQ&amp;oe=64152086&amp;_nc_sid=6136e7 640w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p480x480&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfAWB_DqPB-c-j-Ox9zyTAs4hizHnrCGKu9LJGw0b9sAjw&amp;oe=64152086&amp;_nc_sid=6136e7 480w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p320x320&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfDxSF0ZdRgAHk4_Xi8zRlzpF3qMY-0mM7410Y4xdUAUlQ&amp;oe=64152086&amp;_nc_sid=6136e7 320w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p240x240&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfCOKnanqly00scbjHyiputMwjieVbveogqEUwhy8AU3mQ&amp;oe=64152086&amp;_nc_sid=6136e7 240w" src="https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfBG4hAkCcRzks9Jeim-mqgFBq_nmu9FIyVBm9hkXObg5g&amp;oe=64152086&amp;_nc_sid=6136e7" style="object-fit: cover;"></div><div class="_aagw"></div>'

In [108]:
for i in contfoto:
    print(i.get_attribute('innerHTML'))

<div class="_aagv" style="padding-bottom: 125%;"><img alt="Photo by National Geographic on March 10, 2023. May be an image of 1 person and outdoors." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto" sizes="662.390625px" srcset="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35_p1080x1080&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfAL6ZuzNmaPfV7YC21aLATJ-3bQnqYY31yvaITT3gq5TA&amp;oe=6414E6F5&amp;_nc_sid=6136e7 1080w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35_p720x720&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfAixLGsYZQqJRB7WKVokTeTzoAm9_DtjORxNA1zpJvmUg&amp;oe=6414E6F5&amp;_nc_sid=6136e7 720w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfCD7pVdyW2FoUXsws3IpG-cxCPClmEB8lbCwRf4WBgU7g&amp;oe=6414E6F5&amp;_nc_sid=6136e7 640w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35_p480x480&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfCiTY0lJv1P5bkx_d793WL8Rr-AZOisTK80BOV35m5O7A&amp;oe=6414E6F5&amp;_nc_sid=6136e7 480w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35_p320x320&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfAMMZLwQ5gY5zdM0gSaKPbMgyRRHUkQ6kFS_OORS3LWsw&amp;oe=6414E6F5&amp;_nc_sid=6136e7 320w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35_p240x240&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfDUSPwt4Kxv8jebKm59VrnI1RjV_a51AKB7ZLAzTHvZRA&amp;oe=6414E6F5&amp;_nc_sid=6136e7 240w" src="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/333290083_1715050242226616_7309270043177614196_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=kxXaK2_zZJsAX_knAha&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMTY2OTg5OTE5Ng%3D%3D.2-ccb7-5&amp;oh=00_AfCsab0Jo4zPNSbqn_yucCPjkGqOYFHsNesjtpaAnjArUw&amp;oe=6414E6F5&amp;_nc_sid=6136e7" style="object-fit: cover;"></div><div class="_aagw"></div>
<div class="_aagv" style="padding-bottom: 125%;"><img alt="Photo by National Geographic on March 10, 2023." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto" sizes="662.390625px" srcset="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35_p1080x1080&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfAHxX8tzSkeOJ1c-rguxgVGmFjHhKaH9Vk7K8K_nowyZQ&amp;oe=6416130D&amp;_nc_sid=6136e7 1080w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35_p720x720&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfA56VYy7VR_hruzOxtqyH_qYRMibohing2cxZaWAGuoLg&amp;oe=6416130D&amp;_nc_sid=6136e7 720w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfD30kW8NJ5OV856ztptsNAUbG-IdFvav4G8ZY1JIbOxXw&amp;oe=6416130D&amp;_nc_sid=6136e7 640w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35_p480x480&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfCMsNOzLcNGRNNP8FT4DxurJtLbsFwQSs3W8XHxQLtFsQ&amp;oe=6416130D&amp;_nc_sid=6136e7 480w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35_p320x320&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfBb9DR9mN9UpHwarUljQ__nd7uHenMpeZ9iv9lQ70sAtw&amp;oe=6416130D&amp;_nc_sid=6136e7 320w,https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35_p240x240&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfBVVy8S660hlS8cW7Whit3lIxq_PCAycoYWEaGhLPPTFg&amp;oe=6416130D&amp;_nc_sid=6136e7 240w" src="https://scontent-mad2-1.cdninstagram.com/v/t51.2885-15/334750789_3515838121982013_8496797278462643373_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=scontent-mad2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=_mNT_1QUnnoAX8gEnnr&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIzMDEwNzk0MTEzMQ%3D%3D.2-ccb7-5&amp;oh=00_AfCoSdxCl58_4OgNsAPNiiIwkgKsBWQywMSiN6vRcDhjVQ&amp;oe=6416130D&amp;_nc_sid=6136e7" style="object-fit: cover;"></div><div class="_aagw"></div>
<div class="_aagv" style="padding-bottom: 125%;"><img alt="Photo by National Geographic on March 10, 2023. May be an image of 1 person, standing, fire and outdoors." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto" sizes="662.390625px" srcset="https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p1080x1080&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfB-55SsPw9Esr7_Tw3u8wlUrYLQGn-rPFtcZkE5KzuSmQ&amp;oe=64152086&amp;_nc_sid=6136e7 1080w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p720x720&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfDQM0CWuhteBwbOZP_OBMyIl_j59PyV4aSb1GWEaU2pig&amp;oe=64152086&amp;_nc_sid=6136e7 720w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfCbAxuqD9UX3iLfWZuGrQyscJsmAPWoAPkD-bI-hPUwpQ&amp;oe=64152086&amp;_nc_sid=6136e7 640w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p480x480&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfAWB_DqPB-c-j-Ox9zyTAs4hizHnrCGKu9LJGw0b9sAjw&amp;oe=64152086&amp;_nc_sid=6136e7 480w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p320x320&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfDxSF0ZdRgAHk4_Xi8zRlzpF3qMY-0mM7410Y4xdUAUlQ&amp;oe=64152086&amp;_nc_sid=6136e7 320w,https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35_p240x240&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfCOKnanqly00scbjHyiputMwjieVbveogqEUwhy8AU3mQ&amp;oe=64152086&amp;_nc_sid=6136e7 240w" src="https://scontent-mad1-1.cdninstagram.com/v/t51.2885-15/334330290_910997083684032_2041594664111409287_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=scontent-mad1-1.cdninstagram.com&amp;_nc_cat=100&amp;_nc_ohc=rx9Qd7RVgfUAX8nX9Ut&amp;edm=ABmJApABAAAA&amp;ccb=7-5&amp;ig_cache_key=MzA1NTM3OTIxMzg5Mjc0NTY0Mg%3D%3D.2-ccb7-5&amp;oh=00_AfBG4hAkCcRzks9Jeim-mqgFBq_nmu9FIyVBm9hkXObg5g&amp;oe=64152086&amp;_nc_sid=6136e7" style="object-fit: cover;"></div><div class="_aagw"></div>

In [ ]:
def damefoto(cont1):

    contfoto = driver.find_elements(By.CSS_SELECTOR, '._aagu._aato')
    contenido = contfoto[0].get_attribute('innerHTML')
    imagen = contfoto[0].find_elements(By.CSS_SELECTOR, 'img')
    alt = imagen[0].get_attribute('alt')
    src = imagen[0].get_attribute('src')
    imagen_respuesta = requests.get(src)
    carpeta = "../images"
    nombre = "imagenpreuba2.jpg"
    archivo = os.path.join(carpeta, nombre)
    with open(archivo, "wb") as archivo:
        archivo.write(imagen_respuesta.content)
    return()

In [143]:
df11 = pd.DataFrame(columns=['likes', 'descripcion', 'hora', 'contenido'])
def pruebas(hola, df11):
    hola = "adios"
    df11 = df11.append({},ignore_index = True)
    df11["likes"] = 11
    return(df11)

In [144]:
df11 = df11.append({},ignore_index = True)
df11["likes"] = 11

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/4273789005.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df11 = df11.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/4273789005.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df11 = df11.append({},ignore_index = True)

In [145]:
df11

   likes descripcion hora contenido
0     11         NaN  NaN       NaN

In [148]:
hola = "hola"
df11 = pruebas(hola, df11)

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/3498675464.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df11 = df11.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_58744/3498675464.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df11 = df11.append({},ignore_index = True)

In [149]:
df11

   likes descripcion hora contenido
0     11         NaN  NaN       NaN
1     11         NaN  NaN       NaN
2     11         NaN  NaN       NaN