In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
import warnings
import random


with open("../con.txt", "r") as user:
    usuario = user.readline().strip()
    passw = user.readline().strip()

PATH = ChromeDriverManager().install() 
driver = webdriver.Chrome(PATH)
driver.get("https://www.instagram.com/natgeo/")
time.sleep(random.randint(4,6))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[2]/div/div/div[1]/div/div[2]/div/div/div/div/div[2]/div/button[1]')
elemento.click()

time.sleep(random.randint(3,5))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/nav/div[2]/div/div/div[3]/div/div[2]/div[1]/a/button')
elemento.click()

time.sleep(random.randint(3,5))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[1]/div/label/input')
elemento.send_keys(usuario)

time.sleep(random.randint(1,3))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[2]/div/label/input')
elemento.send_keys(passw)

time.sleep(random.randint(2,3))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/section/main/div/div/div[1]/div[2]/form/div/div[3]/button')
elemento.click()

time.sleep(random.randint(6,8))
elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div/div/div/button')
elemento.click()

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_6269/1871130950.py:14: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [2]:
#Vamos a crear un dataframe con los datos que hemos obtenido
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.DataFrame(columns=['pg_direccion', 'pg_nombre', 'pg_descripcion', 'pg_numero_de_publicaciones', 'pg_seguidores', 'pg_seguidos'])

In [3]:
datos = driver.find_elements(By.CLASS_NAME, '_ac2a')
df = df.append({},ignore_index = True)
df.pg_numero_de_publicaciones = datos[0].text
df.pg_seguidores = datos[1].text
df.pg_seguidos = datos[2].text
datos[0].text, datos[1].text, datos[2].text

#el [0] es el numero de publiaciones
#el [1] es el numero de seguidores
#el [2] es el numero de seguidos

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_6269/3099912068.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({},ignore_index = True)
/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_6269/3099912068.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append({},ignore_index = True)

('27.831', '265 M', '140')

In [4]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos
0,NaN,NaN,NaN,27.831,265 M,140

In [15]:
datos2 = driver.find_elements(By.TAG_NAME, 'h2')
datos2[0].text
df.pg_direccion = datos2[0].text
#el numero [0] contiene el nombre de la cuenta

In [16]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.831,265 M,140

In [13]:
datos3 = driver.find_elements(By.CLASS_NAME, '_aa_c')
datos3[0].text
datos4 = []
#aqui esta guardado el nombre de la descripcion de la cuenta y la descripcion
#voy a separar datos3 en dos elementos, uno con el nombre de la cuenta y otro con la descripcion
datos4.append(datos3[0].text.split('\n',1)[0])
datos4.append(datos3[0].text.split('\n',1)[1])
datos4[0], datos4[1]

df.pg_nombre = datos4[0]
df.pg_descripcion = datos4[1]
#en datos 4[0] esta el nombre de la cuenta y en datos4[1] esta la descripcion

In [14]:
#time.sleep(random.randint(6,8))
#elemento = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[4]/article/div[1]/div/div[1]/div[1]/a/div/div[2]')
#elemento.click()
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos
0,NaN,National Geographic,Experience the world through the eyes of Natio...,27.831,265 M,140

In [9]:
datos5 = driver.find_elements(By.CLASS_NAME, 'x1iyjqo2')
datos5[1].text

'natgeo\nVerificado\nSeguir\nEnviar mensaje\n27.831 publicaciones\n265 M seguidores\n140 seguidos\nNational Geographic\nExperience the world through the eyes of National Geographic photographers.\non.natgeo.com/instagram\nStonehenge\nKing Tut\nBlack Joy\nOut of Eden\nBallesta\nArctic Life\nMars AR\nDino AR\nReimagined Dino\nHoneybees\nEnd of Trash\nChild Sacrifice\nPangolins\nWildlifeTourism\nPUBLICACIONES\nREELS\nETIQUETADAS\nMeta\nInformación\nBlog\nEmpleo\nAyuda\nAPI\nPrivacidad\nCondiciones\nCuentas destacadas\nUbicaciones\nInstagram Lite\nSubir contactos y personas no usuarias\nCuentas sugeridas\nMeta Verified\nEspañol (España)\nAfrikaans\nČeština\nDansk\nDeutsch\nΕλληνικά\nEnglish\nEnglish (UK)\nEspañol (España)\nEspañol\nSuomi\nFrançais\nBahasa Indonesia\nItaliano\n日本語\n한국어\nBahasa Melayu\nNorsk\nNederlands\nPolski\nPortuguês (Brasil)\nPortuguês (Portugal)\nРусский\nSvenska\nภาษาไทย\nFilipino\nTürkçe\n中文(简体)\n中文(台灣)\nবাংলা\nગુજરાતી\nहिन्दी\nHrvatski\nMagyar\nಕನ್ನಡ\nമലയാളം\nमराठी\nनेपाली\nਪੰਜਾਬੀ\nසිංහල\nSlovenčina\nதமிழ்\nతెలుగు\nTiếng Việt\n中文(香港)\nБългарски\nFrançais (Canada)\nRomână\nСрпски\nУкраїнська\n© 2023 Instagram from Meta'

In [21]:
boton = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div/div[1]/div[1]/a/div[1]/div[2]')
boton[0].click()
#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco
#De momento este es el codigo que mejor me sirve para el click en la primera publicacion

In [17]:
boton2 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div[3]/article/div[1]/div')
boton2[0].click()
#Este codigo es para hacer click sobre una publicacion en concreto, no creo que sirva para el propósito que busco

In [19]:
boton3 = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div/div[1]/div/div/div/div[1]/div[1]/div[2]/section/main/div/div')
boton3[2].click()
#este puede servir mejor

In [20]:
df

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.831,265 M,140

In [39]:
descripcion = driver.find_elements(By.CLASS_NAME, '_a9zm')
descripcion[0].text

"natgeo\nVerificado\nPhotos by @andrea_frazzetta | Located in northern Ethiopia's Afar Triangle, the Danakil Depression is where three tectonic plates meet. This vast plain is the homeland of the Afar nomads, who live off extracting minerals, namely salt, in one of the most inhospitable places on Earth. Follow @andrea_frazzetta for more images and stories. #Africa #Ethiopia #Danakil\n1 h\nVer traducción"