In [2]:
#voy a abrir el archivo datos.csv en un dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
df = pd.read_csv('../data/datos.csv')

In [3]:
df.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(1809, 13)

In [5]:
#voy a borrar las filas que tienen todos los valores nulos
df.dropna(how='all', inplace=True)

In [6]:
df.shape

(1009, 13)

In [7]:
df.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [9]:
#creamos una copia del dataframe para trabajar con ella
df2 = df.copy()

In [10]:
#en las columnas que empiezan por pg_, voy a copiar los valores del indice 0 en las filas que tienen valores nulos
for col in df2.columns:
    if col.startswith('pg_'):
        df2[col].fillna(df2[col][0], inplace=True)

In [11]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [12]:
#la columna pg_numero_de_publicaciones está en float. Primero la multiplico por 1000 y luego la convierto a int
df2['pg_numero_de_publicaciones'] = df2['pg_numero_de_publicaciones'].apply(lambda x: int(x*1000))

In [14]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [15]:
#la columna pg_seguidores está en string. Voy a convertirlo a int. Si tiene M, lo multiplico por 1000000. Si tiene K, lo multiplico por 1000
def convertir_a_int(x):
    if x.endswith('M'):
        return int(float(x[:-1])*1000000)
    elif x.endswith('K'):
        return int(float(x[:-1])*1000)
    else:
        return int(x)
df2['pg_seguidores'] = df2['pg_seguidores'].apply(convertir_a_int)

In [16]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [17]:
#la columna pg_seguidos está en float. La voy a pasar a int
df2['pg_seguidos'] = df2['pg_seguidos'].apply(lambda x: int(x))

In [18]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [19]:
#elimino la primera fila porque tiene todos los valores nulos
df2.drop(0, inplace=True)